.alert-danger {
	color: #a94442;
	border-color: #ebccd1;
}

.alert {
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}


body {
	height: 100vh;
	padding: 0 2em;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: #444;
}

